---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Custom Design and Development",
    description:
      "Your website will be crafted with care, tailored to your brand, and built to deliver results.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Optimized for Speed and SEO",
    description:
      "We create lightning-fast websites that rank well in search engines and keep your visitors engaged.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Open Source Innovation",
    description:
      "Benefit from our expertise in open source software, whether you're using our tools or contributing to the community.",
    icon: "bx:bxs-data",
  },
  {
    title: "Scalable and Future-Proof",
    description:
      "Built using modern technologies, your site will grow with your business and adapt to future needs.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Responsive and Accessible",
    description:
      "Reach every customer, everywhere. Our websites look great and work seamlessly on all devices.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Ongoing Support and Guidance",
    description:
      "We're here for you every step of the way—from launch to growth—with expert advice and hands-on support.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything You Need to Succeed Online
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We offer a full suite of services to ensure your website and business stand
    out.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
